/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 jun. 2022, 14:53:43
    Author     : bquir
*/


.video {
height: auto;
width: auto;
padding-left: 20px;
}
.container{
    background-color: lightsalmon;
    box-sizing: border-box;
    background-size: cover;
}
