/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 jun. 2022, 23:14:49
    Author     : bquir
*/


div.news {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.news:hover {
  border: 1px solid #777;
}

div.news img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
